
#titulo{
	text-align: center;
	font-size: 40px;
	background-color: rgb(109, 84, 73);
	background: linear-gradient(top, rgb(147, 147, 202), #364647);
	background: -webkit-linear-gradient(top, rgb(147, 147, 202), #364647);
	background: -ms-linear-gradient(top, rgb(147, 147, 202), #364647);
	background: -o-linear-gradient(top, rgb(147, 147, 202), #364647);
	width: 50%;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	margin: 40px auto;
	padding: 15px;
	color: rgba(255, 255, 255, 0.87);
	box-shadow: grey 15px 15px 15px;
	text-shadow: black 2px 2px 2px;
}
	
.imagen{
	width: 250px;
	height: 200px;
	border: 2px solid rgb(78, 77, 77);
	padding: 2px;
	float: left;
	margin: 70px 20px;
	border-radius: 10px;
	transition: transform 0.5s ease-in-out 0.5s; 
	
}
#imagen1{
	margin-left: 50px;
}
#imagen4{
	margin-right: 50px;
}
#imagen5{
	margin-left: 50px;
}
#imagen8{
	margin-right: 50px;
}

.imagen:hover{
	transform: scale(1.3);
}
p.blue{
	color:blue; 
	margin-right:20px; } 